Repository microsoft/showwhy: changes, and which lint-staged commands are due for each by the changed paths.
All: essex prettify --staged, essex lint --fix --staged, cd python/showwhy-backend && poetry run pre-commit, cd python/showwhy-interface && poetry run pre-commit

update lintstaged
  .lintstagedrc.json
Due: essex prettify --staged

update lintstagedrc
  .lintstagedrc.json
Due: essex prettify --staged

publish showwhy-inference to pypi
  .github/workflows/showwhy_inference.yml
  .vscode/settings.json
  python/showwhy-backend/poetry.lock
  python/showwhy-backend/pyproject.toml
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
Due: essex prettify --staged, cd python/showwhy-backend && poetry run pre-commit

publish showwhy-inference to pypi (#90)
  .github/workflows/showwhy_inference.yml
  .lintstagedrc.json
  .vscode/settings.json
  python/showwhy-backend/poetry.lock
  python/showwhy-backend/pyproject.toml
  python/showwhy-inference/poetry.lock
  python/showwhy-inference/pyproject.toml
Due: essex prettify --staged, cd python/showwhy-backend && poetry run pre-commit

fix python version
  .github/workflows/showwhy_inference.yml
Due: none

fix python version (#91)
  .github/workflows/showwhy_inference.yml
Due: none

set table id as table name
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useTables.ts
Due: none

create manual deployment of showwhy dev
  .vsts-ci.yml
Due: none

remove manual condition
  .vsts-ci.yml
Due: none

add dev branch to trigger
  .vsts-ci.yml
Due: none

fix table id and create ci for ui-dev env (#92)
  .vsts-ci.yml
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useTables.ts
Due: none

fix dev yml
  .vsts-ci.yml
Due: none

add new dwc version
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

add new dwc version (#93)
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

removed combobox to select variables on define question & model causal factors
  javascript/client/src/components/FactorsDefinitionForm/FactorsDefinitionForm.tsx
  javascript/client/src/components/FactorsDefinitionForm/hooks.tsx
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/TableComponent/TableComponent.tsx
  javascript/client/src/components/Tables/TableComponent/hooks.tsx
  javascript/client/src/components/VariablePicker/VariablePicker.tsx
  javascript/client/src/components/VariablePicker/index.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useVariableOptions.ts
  javascript/client/src/pages/DefineQuestion/DefineModelDomainPage/DefineModelDomainPage.tsx
  javascript/client/src/pages/DefineQuestion/DefineModelDomainPage/hooks/hooks.ts
  javascript/client/src/pages/ModelCausalFactors/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
  javascript/client/src/pages/ModelCausalFactors/ConsiderCausalFactorsPage/hooks.ts
Due: none

fix page object acc tests
  javascript/acceptance-tests/pageObjects/DefineModelPage.ts
  javascript/acceptance-tests/pageObjects/ModelCausalFactorsPage.ts
Due: none

fix tests
  javascript/acceptance-tests/pageObjects/DefineModelPage.ts
  javascript/acceptance-tests/pageObjects/ModelCausalFactorsPage.ts
Due: none

removed combo box to select variables on define question & model causal factors (#94)
  javascript/acceptance-tests/pageObjects/DefineModelPage.ts
  javascript/acceptance-tests/pageObjects/ModelCausalFactorsPage.ts
  javascript/client/src/components/FactorsDefinitionForm/FactorsDefinitionForm.tsx
  javascript/client/src/components/FactorsDefinitionForm/hooks.tsx
  javascript/client/src/components/FactorsDefinitionForm/variables.tsx
  javascript/client/src/components/Tables/TableComponent/TableComponent.tsx
  javascript/client/src/components/Tables/TableComponent/hooks.tsx
  javascript/client/src/components/VariablePicker/VariablePicker.tsx
  javascript/client/src/components/VariablePicker/index.ts
  javascript/client/src/hooks/index.ts
  javascript/client/src/hooks/useVariableOptions.ts
  javascript/client/src/pages/DefineQuestion/DefineModelDomainPage/DefineModelDomainPage.tsx
  javascript/client/src/pages/DefineQuestion/DefineModelDomainPage/hooks/hooks.ts
  javascript/client/src/pages/ModelCausalFactors/ConsiderCausalFactorsPage/ConsiderCausalFactorsPage.tsx
  javascript/client/src/pages/ModelCausalFactors/ConsiderCausalFactorsPage/hooks.ts
Due: none

update dwc
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

update dwc (#95)
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

tsc fixes
  javascript/builders/src/buildAlternativeModels.ts
  javascript/client/src/components/Tables/GenericTableComponent/GenericTableComponent.tsx
  javascript/client/src/hooks/__tests__/estimators.spec.ts
  javascript/client/src/hooks/filters.ts
  javascript/client/src/hooks/loadProject.ts
  javascript/client/src/hooks/nodes.ts
  javascript/client/src/hooks/saveProject.ts
  javascript/client/src/pages/DefineQuestion/DescribeElementsPage/hooks.ts
  javascript/client/src/pages/PerformAnalysis/EvaluateHypothesisPage/SignificanceTests.tsx
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/constants.ts
  javascript/client/src/state/__tests__/estimators.spec.ts
  javascript/client/src/state/tables.ts
Due: essex prettify --staged, essex lint --fix --staged

get lint/build running
  .eslintrc
  javascript/client/package.json
  javascript/client/src/hooks/filters.ts
  javascript/client/src/pages/PerformAnalysis/SelectCausalEstimatorsPage/hooks/constants.ts
  javascript/client/src/state/__tests__/estimators.spec.ts
  javascript/client/src/state/tables.ts
Due: essex prettify --staged, essex lint --fix --staged

restore type assertions
  javascript/client/src/hooks/nodes.ts
  javascript/client/src/hooks/saveProject.ts
Due: none

fix autoMax on tableLoad
  javascript/client/src/utils/arquero.ts
Due: none

fix autoMax on tableLoad (#97)
  javascript/client/src/utils/arquero.ts
Due: none

fix ambiguous causal factors
  javascript/client/src/hooks/causalFactors.ts
Due: none

Darren fix (#98)
  javascript/client/src/hooks/causalFactors.ts
Due: none

adjust causal factors type
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/hooks/__tests__/causalFactors.spec.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/FactorsTable.tsx
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/factors.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/hooks.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/onChange.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/hooks.ts
  javascript/types/src/causality/CausalFactor.ts
  javascript/types/src/causality/CausalFactorType.ts
  javascript/types/src/causality/Cause.ts
  javascript/types/src/causality/Causes.ts
  javascript/types/src/causality/FlatCausalFactor.ts
  javascript/types/src/causality/index.ts
Due: essex prettify --staged, essex lint --fix --staged

fix zip for acc tests
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/files/Smoking Cessation.zip
  javascript/client/src/hooks/uploadZip.ts
Due: none

fix multiple tables breaking screen
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
Due: none

adjust causal factors type (#99)
  javascript/acceptance-tests/files/COVID-19.zip
  javascript/acceptance-tests/files/Smoking Cessation.zip
  javascript/client/public/data/examples/covid-19.json
  javascript/client/public/data/examples/smoking-cessation.json
  javascript/client/src/hooks/__tests__/causalFactors.spec.ts
  javascript/client/src/hooks/causalFactors.ts
  javascript/client/src/hooks/uploadZip.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/FactorsTable.tsx
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/factors.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/hooks.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/FactorsTable/hooks/onChange.ts
  javascript/client/src/pages/ModelCausalFactors/DefineFactorsPage/hooks.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/types/src/causality/CausalFactor.ts
  javascript/types/src/causality/CausalFactorType.ts
  javascript/types/src/causality/Cause.ts
  javascript/types/src/causality/Causes.ts
  javascript/types/src/causality/FlatCausalFactor.ts
  javascript/types/src/causality/index.ts
Due: essex prettify --staged, essex lint --fix --staged

horizontal scroll fix
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
Due: none

scroll bar styles
  javascript/client/src/components/App/StyleContext.tsx
Due: none

moved guidance under nav
  javascript/client/src/components/App/Layout.tsx
  javascript/client/src/components/AppHeader/AppHeader.tsx
  javascript/client/src/components/GeneralSteps/StepSelector/StepSelector.tsx
  javascript/client/src/components/Guidance/Guidance.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
Due: none

updated dwc packages version
  javascript/client/package.json
  yarn.lock
Due: essex prettify --staged

removed commented style
  javascript/client/src/components/AppHeader/AppHeader.tsx
Due: none

fix dropdown on commandBar
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useCommandBar.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useDefinitionDropdownOptions.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useRenderDropdownOption.tsx
Due: none

added upload table handler
  javascript/client/package.json
  javascript/client/src/pages/PrepareData/ProcessDataPage/ProcessDataPage.tsx
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/index.ts
  javascript/client/src/pages/PrepareData/ProcessDataPage/hooks/useOnUpdateTables.ts
  yarn.lock
Due: essex prettify --staged

Path conditions:
  essex prettify --staged: (any of: *.{json,md}) or (any of: javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts})
  essex lint --fix --staged: any of: javascript/**/*.*.{js,jsx,cjs,mjs,ts,tsx,cts,mts}
  cd python/showwhy-backend && poetry run pre-commit: any of: python/showwhy-backend/**/*
  cd python/showwhy-interface && poetry run pre-commit: any of: python/showwhy-interface/**/*
